input,
select {
  display: block;
  padding: 16px;
  border: 2px solid #ccc !important;
  border-radius: 8px;
  color: black;
  width: 40%;
}
input:focus {
  color: black;
  background-color: rgb(235, 226, 155);
}
input:focus::placeholder {
  color: black;
}
::placeholder {
  color: black;
  opacity: 1;
}

:-ms-input-placeholder {
  color: black;
}

::-ms-input-placeholder {
  color: black;
}
.error {
  border-color: red !important;
}
@media only screen and (max-width: 767px) {
  input,
  select {
    padding: 16px;
    width: 100%;
    margin-bottom: 8px;
  }
}
